/*Variables */
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #FFFFFF;

  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #F7E296;
  --special-green: #91C92F;
  --special-pink: #F6DADA;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"),
         local("Gilroy-Light"),
         url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"),
         local("Gilroy-ExtraBold"),
         url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* ---- General ---- */

*, *::after, *::before {
    box-sizing: border-box;
}


body {
  min-width: 1440px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.page-column-right {
  width: 500px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .main-navigation,
  .footer-nav,
  .catalogue-nav,
  .title,
  .button,
  .filters legend,
  .contact-us-popup {
     font-family: "Gilroy", Arial, sans-serif;
     font-weight: 800;
  }

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--special-yellow-dark);
}

.button:active {
  background-color: var(--special-yellow-dark);
  opacity: 0.3;
}
  /* ---- Header ---- */

header {
  min-height: 300px;
  background-color: var(--special-yellow-light);

}

.page-header {
  position: relative;
  margin-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 29px;
}

.header-logo {
  position: absolute;
  top: -20px;
  left: 59px;
}

.header-logo:hover {
  opacity: 0.6;
}
.header-logo:active {
  opacity: 0.3;
}

.header-top {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  margin-bottom: 34px;
}

.header-inner-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.search-form {
  display: flex;
  justify-content:space-between;
  align-items: baseline;
}

.search-form input {
  padding-left: 40px;
  font: inherit;
  color: #000000;

  background-color: transparent;
  border: none;
}

.search-button {
  width: 84px;
  height: 50px;
  padding: 15px 17px;
  border: 2px solid var(--basic-black);

  background-color: transparent;
}

.search-button:hover {
  background-color: var(--basic-black);
}

.search-button:hover {
  color: var(--basic-white);
}

.search-button:active span{
  opacity: 0.3;
}

.search-button span {

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.header-inner-wrapper a {
  padding-left: 25px;
}

.header-inner-wrapper > a:last-child {
  margin-left: 41px;
}

.sign-in {
  margin-right: auto;
  padding-left: 0;
}

.sign-in a {
  padding-left: 22px;
}

.header-inner-wrapper {
  line-height: 20px;
}

.header-inner-wrapper a:hover {
  opacity: 0.6;
}

.header-inner-wrapper a:active {
  opacity: 0.3;
}

.header-inner-wrapper li {
  list-style: none;
}

.main-navigation {
   font-family: "Gilroy", Arial, sans-serif;
   font-weight: 800;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding-left: 0;
}

.main-navigation li {
  list-style: none;

  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main-navigation li:hover {
  opacity: 0.6;
}

.main-navigation li:active {
  opacity: 0.3;
}
.main-navigation li:first-child {
  margin-right: auto;
  letter-spacing: 0.1em;
}

.main-navigation li:nth-last-child(2) {
  margin-left: 35px;
}

.main-navigation li:last-child {
  margin-left: 108px;
  margin-right: -3px;
  text-align: right;
}

  /* ---- Main ---- */

.showcase {
  margin-top: -130px;
  position: relative;
  z-index: 1;
  margin-bottom: 111px;
}

.slide {
  display: flex;
  justify-content: space-between;
}

.slider-wrapper {
  width: 560px;
}

.slide-1 {
  margin-left: 89px;
}

.slider-wrapper-right {
  margin-right: 47px;
  position:relative;
}

.slide-number {
  position: absolute;
  right: 0;
  top: -15px;

  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  /*пока черный для удобства*/
}

.slide-title {
  margin-top: 94px;
  margin-bottom: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slide-description {
  width: 478px;
  margin-bottom: 63px;
  line-height: 20px;
}

.slide .button {
  display:inline-block;
  width: 220px;
  margin-bottom: 57px;
  text-align: center;
}

.slide-1 .product-data {
  width: 444px;
  margin-left: -3px;
}

.product-data tr:first-child {
  padding-bottom: 15px;
}

.product-data td {
  padding-top: 0px;
  padding-left: 0px;
  text-align: left;
}

.product-data td:first-child {
  width: 168px;
}

.product-data td:nth-child(2) {
  width: 136px;
}

.product-data td:last-child {
  /*починить*/
}



.product-data th {
  padding-top: 13px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left;
}

.product-data tr {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.product-categories ul {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 184px;
}

.product-categories li {
  width: 160px;
  min-height: 245px;
  list-style: none;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  border: 1px solid black;
}

.title {
   font-family: "Gilroy", Arial, sans-serif;
   font-weight: 800;
}

.services {
  min-height: 287px;
  margin-bottom: 90px;
  background-color: var(--basic-grey-light);
}

.services .page-wrapper {
  display: flex;
}

.services-list {
  flex-shrink: 0;
  width: 284px;
  min-height: 320px;
  margin-right: 116px;
  margin-top: -100px;
  padding: 0;
  padding-top: 80px;
  border-right:  7px solid var(--basic-black);
}

.services li {
  list-style: none;
}

.services-button {
  width: 160px;
  min-height: 40px;
  margin-bottom: 25px;
  border: 0;
  background-color: transparent;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.services-title {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services-desc {
  padding: 0;
  margin: 0;
  margin-top: -80px;
}

.services-desc p {
  width: 495px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.featured-brands {
  margin-bottom: 90px;
}

.featured-brands ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.featured-brands li {
  width: 260px;
  list-style: none;
}

.section-grouping {
  display: flex;
  justify-content: space-between;
}

.section-grouping h2 {
  margin-top: 50px;
  margin-bottom: 42px;
}

.about-us {
  width: 473px;
}

.about-us h2 {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-us p {
  line-height: 28px;
}

.about-us p:first-of-type {
  margin-bottom: 40px;
}

.about-us p:last-of-type {
  margin-bottom: 59px;
}

.about-us ul {
  padding-left: 33px;
  margin-bottom: 63px;
}

.about-us li {
  padding-bottom: 15px;
  list-style: none;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.contacts {
  width: 560px;
}

.contacts h2 {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts p {
  line-height: 28px;
  margin-bottom: 40px;
}

.contacts img {
  margin-bottom: 80px;
}

.contact-us-popup {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.main-footer {
  position: relative;
  margin-top: 85px;
  display: flex;
}
.footer-logo {
  position: absolute;
  top: 62px;
}

.footer-wrapper-top {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding-top: 31px;

}

.footer-wrapper-top li {
  list-style: none;
}

.footer-wrapper-top a {
  margin-left: 40px;
  padding-left: 23px;
}

.footer-wrapper-mid {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: baseline;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  min-width: 425px;
}

.footer-wrapper-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 52px;

}

.social-links {
  display: flex;
  min-height: 33px;
}

.social-links li {
  list-style: none;
}

.footer-wrapper-bottom *{
  margin-left: auto;
}


/* ---- Catalogue ---- */

.catalogue-header {
  min-height: 186px;
  margin-bottom: 44px;
}
.catalogue-page-title {
  margin-left: 60px;
}

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.catalogue-top-nav {
  min-width: 385px;
  margin-left: 60px;
  margin-bottom: 50px;
  padding-left: 0;
  display: flex;
}

.catalogue-top-nav li {
  list-style: none;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
  padding-right: 24px;
}

.catalogue-top-nav li:hover {
  opacity: 0.6;
}

.catalogue-top-nav li:active {
  opacity: 0.1;
}

.catalogue-page-wrapper {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.name-sorting-wrapper {
  display: flex;
  height: 70px;

}

.filters-title {
  width: 467px;
  min-height: 70px;
  margin-top: 0px;
  padding-top: 23px;
  padding-left: 200px;
  background-color: #DCDCDC;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting {
  display: flex;
  align-items: baseline;
  width: 972px;
  background-color: var(--basic-grey-light);
}

.sorting p {
  margin-right: 72px;
}

.sort-types {
  display: flex;
  min-width: 288px;
  justify-content: space-between;
  margin-right: auto;
}
.sorting-direction {
  margin-right: 140px;
}

.sorting-direction li:first-child{
  float: left;
}

.sorting-direction li:last-child{
  float: right;
}

.catalogue-wrapper-bottom {
  display: flex;
}

.filter-body-wrapper {
  height: 100%;
  width: 467px;
  padding-left: 200px;
  padding-top: 70px;
  background-color: var(--basic-grey-light);
}

.filters fieldset {
  border: none;
  padding: 0;
}
.filters legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filters label {
  font-size: 14px;
  line-height: 19px;
}

.filters button {
  margin-top: 50px;
}

.sorting {
  min-height: 70px;
  padding-left: 75px;
}

.sorting p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting a {
  font-size: 14px;
  line-height: 19px;
}
.sorting a:hover {
  opacity: 0.6;
}

.sorting a:active {
  opacity: 0.3;
}

.sorting li {
  list-style: none;
}

.catalogue-list {
  display: flex;
  justify-content: space-between;
  width: 755px;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-left: 78px;
  padding: 0;
}

.catalogue-item {
  min-height: 454px;
  margin-bottom: 50px;
}

.catalogue-nav {
   font-family: "Gilroy", Arial, sans-serif;
   font-weight: 800;
}

.catalogue-list li {
  list-style: none;
}

.catalogue-list h3 {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.catalogue-price {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalogue-compare {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
}

.catalogue-compare:hover {
  opacity: 1;
}

.catalogue-compare:active {
  opacity: 0.3;
}

.catalogue-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 78px;
  padding-left: 30px;
  padding-right: 30px;
  width: 760px;
  margin-left: 78px;
  background-color: #EBEBEB;
}

.catalogue-nav ul {
  display: flex;
}
.catalogue-nav a {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalogue-nav li {
  list-style: none;
}

.catalogue-nav-direction:hover {
  background-color: #D9D9D9;
}

.catalogue-nav-direction:active {
  opacity: 0.3;
}

.page-number {
  opacity: 0.3;
}

.page-number:hover {
  opacity: 0.6;
}

.page-number:active {
  opacity: 1;
}

.page-current,
.page-current:hover,
.page-current:active {
  color: var(--basic-black);
  opacity: 1;
}

/* ---- Footer ---- */

  footer {
    background-color: var(--basic-dark);
    color: var(--basic-white);
  }

  footer a {
    color: var(--basic-white);
  }

  .footer-logo:hover {
    opacity: 0.6;
  }

  .footer-logo:active {
    opacity: 0.3;
  }

  .footer-top li {
    list-style: none;
  }

  .footer-top a {
    list-style: none;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
  }

.footer-top a:hover {
      color: rgba(255, 255, 255, 1);
}

.footer-top a:active {
      color: rgba(255, 255, 255, 0.3);
}

.footer-nav {
   font-family: "Gilroy", Arial, sans-serif;
   font-weight: 800;
}

.footer-nav li {
  list-style: none;

  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-nav li:hover {
  opacity: 0.6;
}

.footer-nav li:active {
  opacity: 0.3;
}

.footer-academy:hover {
  opacity: 0.6;
}

.footer-academy:active {
  opacity: 0.3;
}
